header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100px;
    padding: 1rem;

    background-color: bisque;
}

img {
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    gap: 1.5rem;
}

nav a{
    color: black;
}

nav a:hover {
    color: brown;
    text-decoration: underline;
}

.btn-wrapper {
    display: flex;
    gap: 1rem;
}

.btn-wrapper button {
    padding: 0.5rem;
}